body {
    background-color: #F5E174;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   /* margin-top:300px;*/
    background-color: black;
    flex-wrap: wrap;
    margin-top: 0%;
    

    z-index: 200;
}


.card{
    background-color:white;
    font-size: 20px;
    height: 600px;
    width: 400px;
    margin: 40px;
    padding: 5px;
    border: white;
    border-radius: 7px;

    
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.527);
    transition: 0.3s;

    
    
}
.card b{
    padding: 7px;
    color:black;
}
.card p{
    color:black;
    padding-left:7px ;
    font-style: italic;
    font-size: 17px;

}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.527);
    
   /* transform: scale(1.03);*/
    
    
}
.imagen{
    position: relative;
    /*border: 1px solid #333;*/
    overflow: hidden;
    width: 400px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.imagen img {
    vertical-align: top;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 400px;
}
.imagen:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



.imagen {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility:hidden;
    margin-top: 15px;  
    font-size: 170px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}