* {
    text-align: center;
  }
  
  body {
    /*Para que no salga la barra de scroll de abajo*/
    background-image: url(../img/fondo.jpg);
    background-attachment: fixed;
    box-sizing: border-box;
  }
  
  #container {
    width: 90%;
    padding-left: 10%;
    display: grid;
  }
  
  /*Header*/
  
  #logo {
    width: 7%;
  }

  /* footer */

  #footer img {
    width: 100%;
    min-width: 90px;
    box-sizing: border-box;
  }
